$color-white: white;
$clr-title:rgba(54, 55, 56, 1);
$clr-text:rgba(107, 107, 108, 1);
$clr-border:rgba(255, 206, 80, 1);
$clr-line:rgba(215, 215, 221, 1);
$footer-bg:rgba(11, 117, 114, 1);
$footer-btn:rgba(255, 150, 25, 1)
